<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>{% block page_title %}{% endblock %}</title>
  </head>
  <body>
    {% include 'tweets/components/header.html' %}
    <div class="container">
        <div class="root row" data-username="{{ username }}" data-permission="true"
        data-homepage="false" data-show={{ show }} data-follow={{ follow }}>
            ... Loading
        </div>
        <div class="col-6 mx-auto tweet-details" data-tweetid="96"></div>
        <div class="col-6 mx-auto tweet-details" data-tweetid="95"></div>
        {% block content %}
        {% endblock %}
        {% include 'tweets/react/base_react.html' %}
    </div>
  </body>
</html>