{% extends 'tweets/base.html' %}

{% block page_title %}
    Home page
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col text-center">
            <h1>Welcome to Tweetme</h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4 col-12 mx-auto">
            <form id="create-tweet-form" class="form" method="post" action="/create-tweet/">
                {% csrf_token %}
                <div class="d-none alert alert-danger" id="error-block"></div>
                <input type="hidden" name="next" value="/" />
                <textarea class="form-control" name="content" placeholder="Your tweet"></textarea>
                <button class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
<!--
    <div class="row" id="tweets">
        ... Loading
    </div>-->


{% endblock %}